.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-top: 12rem;
}

.container h1 {
  font-family: "Inter";
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.container p {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: white;
  margin-top: 5px;
  margin-bottom: 4rem;
}

.chart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 3.5rem;
}

.content h2 {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 700;;
  text-align: right;
  color: rgba(0, 255, 255, 1);
  margin: 12px 0;
}

.content h3 {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  color: white;
  margin: 12px 0;
}


.btn {
  background: linear-gradient(92.89deg, #cfc3cd 0%, #8b52f5 100%);
  padding: 0 30px;
  color: white;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}


@media only screen and (max-width: 617px) {
  .container {
      margin-top: 8rem;
  }

  .container h1 {
      font-size: 40px;
  }
}